*{
    margin: 0;
    padding: 0;
}
body{
   overflow-x : hidden;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.bottom-right {
    position: absolute;
    bottom: 80%;
    right: 70%;
    font-size: 20px;
    font-weight: lighter;
  }
  
  
  .centered {
    position: absolute;
    top: 20%;
    left: 4.5%;
    font-size: 40px;
    text-align: left;
    
  }

  .text-container{
    background-color: rgba(0, 0, 0, 0.073);
    text-align: left;
    line-height: 20px;
    width: 50%;
    padding: 60px 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .text-container h3{
    line-height: 80px;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .text-1 p{
    line-height: 30px;
    font-size: 18px;
    text-align: center;
  }

  .column-1 {
    float: left;
    width: 50%;
    padding-left: 30px;
    margin-right: 170px;
  }

  .column-1 p{
    margin-bottom: 450px;
  }

  .column-1 h4{
    font-weight: 400 ;
    font-size: medium;

  }
  .column-2{
    float: left;
    width: 33.33%;
    padding-right: 10px;
  }
  
  .column-2 p{
    margin-bottom: 120px;
  }

  .row a{
    text-decoration: none;
    color: #fe414ea8 ;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .text-container-2{
    text-align: left;
    line-height: 20px;
    width: 50%;
    padding: 60px 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .text-container-2 h3{
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
    
  }
  .text-2 p{
    line-height: 30px;
    font-size: 18px;
    text-align: center;
  }

  .text-container-3{
    text-align: left;
    background-color: rgba(0, 0, 0, 0.084);
    width: 50%;
    padding: 60px 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .text-container-3 h3{
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .logo-icons img{
    padding: 50px;
  }

 .text-container-4{
    text-align: left;
    width: 50%;
    padding: 60px 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .text-container-4 h3{
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .container-5 {
    width: 100%;
    display: flex;
    align-items: center;
    width: 70%;
    padding: 60px 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  .container-5 img{
    width: 52%;
    max-width: 42%;
    min-width: none;
    
   }


   /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
